{% extends 'base.html' %}

{% load static %}

{% block section %}
   <h2>
       {{ object.first_name }} {{ object.last_name }}
       {% if object.team_id %}
         ( <a href="{% url "team-detail" object.team_id %}">
             {{ object.team }}
           </a> )
       {% endif %}
    </h2>
    {% comment %} <p><strong>comments: </strong>{{ object.comment|default:"no comments" }}</p> {% endcomment %}
   <hr>
{% endblock section %}

{% block maincontent %}
<div>
 <div>
     <img src="{% static object.shield.url %}" style="width:170px;height:200px" /> <br>
     <img src="{% static object.team.url %}" style="width:170px;height:200px" />
 </div>
</div>
{% endblock maincontent %} 